.hero {
    &-body {
        border-radius: 28px;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        gap: 20px;
        h2,
        p {
            text-align: center;
            max-width: 720px;
        }
        &__title {
            overflow: hidden;
            text-align: center;
            .char {
                transform: translateY(70px);
                text-transform: uppercase;
            }
        }
    }
}

.about {
    &-body {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        &__images {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: $tablet) {
                order: 2;
            }
            @media (max-width: $mobileSmall) {
                flex-direction: column;
            }
            .about-image {
                position: relative;
                height: 100%;

                &:first-child {
                    margin-bottom: 60px;
                    @media (max-width: $mobileSmall) {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    transform: translateY(60px);
                    margin-top: -60px;
                    @media (max-width: $mobileSmall) {
                        margin-top: 0;
                        transform: translateY(0);
                    }
                }
                &__label {
                    position: absolute;
                    display: block;
                    font-weight: 700;
                    letter-spacing: 0.32px;
                    color: #fff;
                    text-align: center;
                    @media (max-width: $mobileSmall) {
                        flex-direction: column;
                        display: none;
                    }
                    &.initial {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.position {
                        padding-left: 52px;
                        color: $maincolor;
                        @include adaptiv-value('padding-left', 52, 32, 1);

                        &::after {
                            display: block;
                        }
                    }
                    &.top-left {
                        top: 10px;
                        left: -80%;
                        padding-left: 0;
                        @include adaptiv-value('padding-right', 52, 32, 1);
                        &::after {
                            right: 0;
                            left: initial;
                        }
                    }
                    &.top-right {
                        top: 10px;
                        @include adaptiv-value('right', -240, -200, 1);
                    }
                    &.bottom-left {
                        bottom: 5px;
                        padding-left: 0;
                        @include adaptiv-value('left', -240, -200, 1);
                        @include adaptiv-value('padding-right', 52, 32, 1);
                        &::after {
                            right: 0;
                            left: initial;
                        }
                    }
                    &.bottom-right {
                        bottom: 5px;
                        @include adaptiv-value('right', -240, -200, 1);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        @include adaptiv-value('width', 45, 25, 1);
                        height: 2px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        background-color: $maincolor;
                        display: none;
                    }
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    @include adaptiv-value('min-height', 470, 320, 1);
                }
            }
        }
        &__content {
            @include adaptiv-value('padding-top', 70, 40, 1);
            @include adaptiv-value('padding-bottom', 70, 40, 1);
            @include adaptiv-value('padding-left', 32, 20, 1);
            @include adaptiv-value('padding-right', 32, 20, 1);
            z-index: -1;
            position: relative;
            h2 {
                margin-bottom: 30px;
            }
            .background {
                background-color: #faf9fc;
                position: absolute;
                width: 140%;
                height: 400px;
                right: -40%;
                z-index: -1;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: $tablet) {
                    height: 480px;
                }
            }
        }
    }
}

.gallery {
    .page__gallery-slider {
        .gallery-slider__body {
            .gallery-slider__slider {
                .slider-gallery__body {
                    .slider-gallery__slide {
                        position: relative;
                        width: 60%;
                        opacity: 0.8;
                        transform: scale(0.8);
                        transition: all 0.3s ease-in-out;
                        @media (max-width: $mobileSmall) {
                            transform: scale(0.9);
                        }
                        &.swiper-slide-active {
                            transform: scale(1) !important;
                            opacity: 1 !important;
                        }
                    }
                }
                .slider-gallery-controls {
                    &__dots {
                        .swiper-pagination-bullet {
                            &-active {
                            }
                        }
                    }
                    &__arrows {
                        .slider-arrow {
                            &__prev {
                            }
                            &__next {
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider-arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    .slider-arrow {
        @include adaptiv-value('font-size', 28, 24, 1);
        background-color: #faf9fc;
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        @include adaptiv-value('width', 50, 45, 1);
        @include adaptiv-value('height', 50, 45, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        &.swiper-button-disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
        &:hover {
            background-color: $accentcolor;
            color: #fff;
            transition: 0.3s;
        }
    }
}

.accordion {
    @include adaptiv-value('padding', 25, 16, 1);
    cursor: pointer;
    @media (max-width: $mobileSmall) {
        padding: 16px 0;
    }
    border-bottom: $border;
    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        // margin-bottom: 16px;
        @include adaptiv-value('gap', 16, 10, 1);
        i {
            font-size: 24px;
            color: $accentcolor;
        }
    }
    &__content {
        position: relative;
        @include adaptiv-value('padding-left', 50, 20, 1);
        max-height: 0;
        overflow: hidden;
        transform: translateY(-30px);
        opacity: 0;
        p {
            position: relative;
            padding-left: 8px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &::before {
                position: absolute;
                content: '';
                left: 0;
                width: 2px;
                height: 100%;
                background-color: $accentcolor;
                display: block;
            }
        }
    }
}

.document {
    @include adaptiv-value('padding-top', 16, 12, 1);
    @include adaptiv-value('padding-bottom', 16, 12, 1);
    @include adaptiv-value('padding-left', 24, 16, 1);
    @include adaptiv-value('padding-right', 24, 16, 1);
    text-align: center;
    &:hover {
        &::after {
            background-color: $accentcolor;
            height: 6px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ccc;
        transition: 0.3s;
    }
    time {
        font-weight: 600;
    }
    h4 {
        margin: 10px 0;
    }
    a {
        margin: 0 auto;
    }
}

.news {
    .slider-news__body {
        padding-top: 10px;
    }
}

.progress {
    position: relative;

    &-body {
        display: flex;
        align-items: flex-start;
        position: relative;
        gap: 20px;
        &__item {
            padding-top: 40px;
            cursor: pointer;
            @include adaptiv-value('min-width', 340, 280, 1);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                transform: translateY(calc(-50% + 2px));
                border-radius: 50%;
                background-color: $maincolor;
                width: 10px;
                height: 10px;
                transition: 0.3s;
            }
            &:not(.selected) {
                &:hover {
                    &::before {
                        transform: translateY(-3px) scale(1.5);
                        background-color: $accentcolor;
                    }
                }
            }
            time {
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.24px;
                opacity: 0.5;
            }
            p {
                margin-top: 10px;
                letter-spacing: 0.32px;
                opacity: 0.5;
            }
            &.selected {
                position: relative;

                &::before {
                    background-color: $accentcolor;
                    width: 20px;
                    height: 20px;
                    z-index: 2;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -23px;
                    left: -15px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background-color: rgba(64, 114, 248, 1);
                    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
                }
                time {
                    color: $accentcolor;
                    opacity: 1;
                }
                p {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

.footer {
    background-color: #5582f9;
    &__introduction {
        @include adaptiv-value('padding-top', 24, 16, 1);
        @include adaptiv-value('padding-bottom', 24, 16, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__logo {
        img {
            @include adaptiv-value('max-width', 215, 140, 1);
            height: auto;
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            @include adaptiv-value('gap', 30, 16, 1);
            flex-wrap: wrap;
            @media (max-width: $mobile) {
                justify-content: center;
            }
            li {
                a {
                    color: #fff;
                }
            }
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 16px 0;
    }
    &__copyrights {
        padding: 16px 0;
        background-color: #4072f8;
        text-align: center;
        color: #fff;
    }
}

.socials {
    ul {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
            transition: 0.3s;
            &:hover {
                scale: 1.2;
            }
        }
    }
}
