---
import AboutImage from '../elements/AboutImage.astro';
const { colored, data } = Astro.props;
---

<section class="about" style={colored ? 'background-color: #faf9fc;' : ''} id="about">
    <div class="about__container">
        <div class="about__body about-body">
            <div class="about-body__images">
                {
                    data.gallery.map(img => (
                        <AboutImage labelPosition={img.labelPosition} img={img.image.data.attributes.url} />
                    ))
                }
            </div>
            <div class="about-body__content">
                <div class="background"></div>
                <h2>{data.title}</h2>
                <p>{data.desc}</p>
            </div>
        </div>
    </div>
</section>
