---
import Slider from '../elements/Slider.astro';
import Document from '../elements/Document.astro';
const { colored, data } = Astro.props;

const documents = [
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
    {
        time: '27/03/2023',
        name: 'Sıngurul vııtor pentru Moldova',
    },
];
---

<section class="documents" style={colored ? 'background-color: #faf9fc;' : ''} id="documents">
    <div class="documents__container">
        <div class="documents__header">
            <h2>Documente</h2>
        </div>

        <Slider className="documents">
            {data.Docs.map((document) => <Document time={document.date} name={document.title} doc={document.doc.data.attributes.url} />)}
        </Slider>
    </div>
</section>
