---
import Video from '../elements/Video.astro';

const { colored, data } = Astro.props;
---

<section class="gallery" style={colored ? 'background-color: #faf9fc;' : ''} id="gallery">
    <div class="gallery__container">
        <div class="gallery__header">
            <h2>{data.title}</h2>
        </div>
        <div class="page__gallery-slider gallery-slider gallery__body gallery-body">
            <div class="gallery-slider__body">
                <div class="gallery-slider__slider">
                    <div class="slider-gallery__body swiper">
                        {
                            data.videos.map(vid => (
                                <div class="slider-gallery__slide">
                                    <Video video={vid.video?.data?.attributes.url} thumbnail={vid.thumbnail.data.attributes.url} />
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
