---
const { colored, data } = Astro.props;
---

<section class="progress" style={colored ? 'background-color: #faf9fc;' : ''} id="progress">
    <div class="progress__container">
        <div class="progress__header"><h2>Progres</h2></div>
        <div class="progress__body progress-body">
            <div class="timeline"></div>

            {data.progress.map((prog, i) =>(
                <div class={`progress-body__item ${i === 0 && 'selected'} ${prog.completed}`}>
                    <time datetime={prog.date}>{prog.date}</time>
                    <p>
                        {prog.title}
                    </p>
                </div>
            ))}
        </div>
    </div>
</section>
