---
import Languages from './elements/Languages.astro';
import Logo from './elements/Logo.astro';
const menuItems = [
    {
        title: 'Despre proiect',
        url: '#about',
    },
    {
        title: 'Galerie',
        url: '#gallery',
    },
    {
        title: 'Noutăți',
        url: '#news',
    },
    {
        title: 'Progres',
        url: '#progress',
    },
    {
        title: 'Documente',
        url: '#documents',
    },
    {
        title: 'Întrebări',
        url: '#faq',
    },
];
---

<header class="header">
    <div class="header__container">
        <Logo logoClass="header__logo" logoUrl="/assets/images/full-logo.svg" />

        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                {
                    menuItems.map((item) => (
                        <li>
                            <a href={item.url}>{item.title}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>

        <Languages />

        <button type="button" class="burger">
            <span></span>
        </button>
    </div>
</header>
