---
import Languages from './elements/Languages.astro';
import Logo from './elements/Logo.astro';
import { getLangFromUrl } from '../i18n/utils';
import fetchApi from '../lib/strapi';

const lang = getLangFromUrl(Astro.url);

const res = await fetchApi({
    endpoint: `global?populate=deep&locale=${lang}`
})

const nav = res.attributes.navigation
---

<header class="header">
    <div class="header__container">
        <Logo logoClass="header__logo" logoUrl={res.attributes.logo.data.attributes.url} />

        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                {
                    nav.map((item) => (
                        <a href={item.href}>
                            {item.label}
                        </a>
                    ))
                }
            </ul>
        </nav>

        <Languages />

        <button type="button" class="burger">
            <span></span>
        </button>
    </div>
</header>