<div class="socials">
    <ul>
        <li>
            <a href="#" target="_blank">
                <img src="/assets/images/facebook.svg" alt="" />
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="/assets/images/linkedin.svg" alt="" />
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="/assets/images/twitter.svg" alt="" />
            </a>
        </li>
    </ul>
</div>
