---
---

<div
    class="video-item"
    style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('/assets/images/hero.jpeg') 50% 50% / cover no-repeat;"
>
    <a href="#">
        <img src="/assets/images/play.svg" alt="" />
    </a>
</div>
